@model Avaliador_Textual.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar senha";
}

<div class="row">
    <div class="divCentralizada">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h3>@ViewBag.Title</h3>
            <hr />

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Senha atual" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Nova senha" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar nova senha" })
            </div>
            <div class="form-group">
                <input type="submit" value="Alterar senha" class="btn btn-primary" />
                <br /><br />
                @Html.ActionLink("Cancelar", "Index", "Manage", null, new { @class = "btn btn-default", @style = "max-width:100%; min-width:100%;"})
            </div>
        }
    </div>
</div>