@model IEnumerable<Arquivo>

<div id="ArquivosList">
    <table id="myTable" class="table table-striped table-bordered">
        <thead class="tableBar">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Texto)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td style="max-width:260px; word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item. Tag)
                </td>
                <td style="max-width:300px; max-height:30px;">
                    @item.Texto.Substring(0, Math.Min(item.Texto.Length, 170))
                </td>
                <td style="min-width:110px;max-width:110px; width:110px;">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
