@using Avaliador_Textual.Models
@model LoginViewModel

@{
    ViewBag.Title = "Entrar";
}

<div class="row">
    <div class="divCentralizada">
        <img src="~/Images/Logo/black1.png" />
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Usuário" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Senha" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger"})
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Entrar" class="btn btn-primary"/>
                </div>
            }
        </section>
    </div>
</div>